<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMPKService" maxBufferSize="131072"
                    maxReceivedMessageSize="131072" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/NetMPK.Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMPKService"
                contract="MPKService.IMPKService" name="BasicHttpBinding_IMPKService" />
        </client>
    </system.serviceModel>
</configuration>