body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.loginPopover {
    width: 250px;
}

.loginPopoverContent {
    width: 100%;
    margin-bottom: 5px;
}

.list-main {
    position: relative;
    width: 100%;
    height: 750px;
    overflow:hidden;
}

.pagePicker {
    position: relative;
    float: left;
    width: 100%;
}

.list-col {
    height:100%;
}

.wrapper {
    position: relative;
    padding-top: 20px;
}

.lineNo-span {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.lineNo {
    font-size: 150%;
    font-weight: bold;
}

.night {
    color: white;
    background-color: black;
}

.additional {
    background-color: yellow;
}

.appFooter {
    position: fixed;
    bottom: 0;
    background-color:rgba(255,255,255,0.9);
    height: 70px;
    width: 100%;
}

.appBody {
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.timeTable-wrapper {
    width: 100%;
    overflow: hidden;
}

.timeTable-route {
    width: 300px;
    float: left;
}

.timeTable-main {
    margin-left: 310px;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, tr, td
{
    border: 1px solid black;
}