@using System.Web
@model NetMPK.WebUI.Models.MainViewModel
@if (Model.isLoggedIn)
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                ZALOGOWANO    
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account")</li>
        <li><a href="#" class="btn" data-toggle="popover" data-placement="bottom" data-content="@HttpUtility.HtmlEncode(Html.Partial("_LoginPopover"))">Zaloguj się</a> </li>
    </ul>
}
