@model NetMPK.WebUI.Models.StopsModel

@{
    ViewBag.Title = "Przystanki";
}
<div>
    @foreach (var s in Model.stopNames)
    {
        <div>
            @Html.ActionLink(s, "StopDetails", "Stops",new {stopName = s.ToString() },null)
        </div>
    }
</div>
<div class="position: fixed; left: 0;">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("StopsList", new { page = x }))
</div>
